@import 'includes/variables';
@import 'includes/mixins';

:root {
	--color-button-primary-text: #{$black-alt};
	--color-button-primary-background: #{$white};
	--color-button-primary-hover-text: #{$black-alt};
	--color-button-primary-hover-background: #{darken($white, 10)};
	--color-link-primary: #{$white};
	--color-form-background: #{$blue-dark};
	--color-form-text: #{$white};
	--color-field-text: #{$black-alt}
}

body {
	background: $blue-light;
	background: linear-gradient(
			135deg,
			hsl(188deg 49% 25%) 0%,
			hsl(188deg 48% 28%) 21%,
			hsl(188deg 47% 30%) 30%,
			hsl(188deg 47% 33%) 39%,
			hsl(188deg 46% 36%) 46%,
			hsl(188deg 46% 39%) 54%,
			hsl(188deg 46% 41%) 61%,
			hsl(188deg 45% 44%) 69%,
			hsl(188deg 45% 47%) 79%,
			hsl(188deg 45% 50%) 100%
	);
	font-family: $font-body;
}

h2.login-form__title {
	font-family: $font-head;
	margin-bottom: 1em;
	font-size: 22px;
}

.message {
	border-radius: var(--border-radius-form);
	padding: .75em;

	&.warning {
		background-color: $form-warning;
		color: $black-alt;
	}

	&.bad {
		background-color: $form-bad;
		color: $white;
	}
}

.app-brand__link {
	filter: drop-shadow(0 2px 4px rgba($black-alt, .5));
}

#MemberLoginForm_LoginForm_action_doLogin {
	transition: 300ms ease-in-out background-color;
}
