/* Layout: _card.scss
---------------------------------------------------------------------------------- */
.card {
	background-color: $white;
	border-radius: 0 0 50px 0;
	height: 100%;
	position: relative;
	max-width: 576px;
	margin: 0 auto;

	.bg--white & {
		color: $white;
		background-color: $blue-light;
	}
}

/*------------------------------------
	Image
------------------------------------*/
.card__image {
	background-color: #EEE;
	aspect-ratio: 360/223;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@include respond(768px) {
	.card__image {
		max-height: 223px;
	}
}

/*------------------------------------
	Content
------------------------------------*/
.card__content {
	padding: 28px 31px;
	font-size: 1.6rem;

	h3 {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 20px;
		line-height: (26/18);

		a {
			color: inherit;

			&:link,
			&:visited {
				text-decoration: none;
			}

			&:before {
				content: '';
				position: absolute;
				inset: 0;
			}
		}
	}

	time {
		display: block;
		font-weight: 500;
		margin-bottom: 18px;
		line-height: (26/16);
	}

	svg {
		margin-top: 24px;
		color: $blue-darker;
	}
}
