/* Layout: footer
---------------------------------------------------------------------------------- */
.footer {
	padding: 99px 0;

	* {
		font-size: 1.6rem;
	}
}

.footer__menu {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	li {
		transform: translateX(-16px);

		&:before {
			content: '|';
			padding:  0 4px;
		}

		a {
			color: inherit;
		}
	}
}

.footer__socials {
	display: flex;
	gap: 16px;
	align-items: flex-start;
	flex-shrink: 0;
	justify-content: flex-end;

	a {
		color: $blue-light;
		transition: 300ms ease-in-out color;

		&:hover {
			color: $white;
		}
	}
}

.footer__row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
	flex-direction: row-reverse;
}

