/* Layout: header
---------------------------------------------------------------------------------- */
.header {
	background-color: $white;
	padding: 23px 20px 20px;
}

@include respond(991px, max) {
	.header {
		height: 85px;
		//overflow: hidden;
		padding: 15px 20px;
	}
}

$headerBreakpont: $container-width + $container-padding + $container-padding;
@include respond($headerBreakpont) {
	.header {
		padding: 16px 38px 20px;
	}
}

/*------------------------------------
	Row
------------------------------------*/
.header__row {
	align-items: center;
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

@include respond(992px) {
	.header__row {
		align-items: center;
		display: flex;
		gap: 24px;
		justify-content: space-between;
	}
}

.header__row--right {
	display: flex;
}

@include respond(992px) {
	.header__row--right {
		display: block;
	}
}

/*------------------------------------
	Logo
------------------------------------*/
.header__logo {
	display: block;
}

@include respond(991px, max) {
	.header__logo {
		img {
			height: 54px;
			width: 131px;
		}
	}
}

/*------------------------------------
	off canvas button
------------------------------------*/
.header__off-canvas-button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 20px;

	span,
	span:before,
	span:after {
		background: $black-alt;
		border-radius: 3px;
		display: block;
		height: 4px;
		width: 36px;
	}

	span {
		position: relative;
		outline-color: transparent !important;
		transition: background-color 0.2s linear;
		vertical-align: middle;
		will-change: background-color;

		&:before,
		&:after {
			content: "";
			position: absolute;
			transition: transform 0.2s ease,
			margin 0.2s ease 0.1s;
		}

		&:before {
			margin-top: -11px;
		}

		&:after {
			margin-top: 11px;
		}

		.menu-active & {
			background-color: transparent;

			&:before {
				margin-top: 0;
				transform: rotate(45deg);
			}

			&:after {
				margin-top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

@include respond(992px) {
	.header__off-canvas-button {
		display: none;
	}
}
