/* Layout: _vip-area.scss
---------------------------------------------------------------------------------- */
/*------------------------------------
	Section
------------------------------------*/
.login__section {
	overflow: hidden;
	padding: 36px 0;
	position: relative;

}

/*------------------------------------
	Grid
------------------------------------*/
.login__grid {
	align-items: start;
	display: grid;
	gap: 48px 36px;
	min-height: 740px;
	padding-top: .5em;
	position: relative;
	z-index: 5;
}

@include respond(768px) {
	.login__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*------------------------------------
	Column
------------------------------------*/
.login__column {
	background-color: $white;
	border-radius: 12px;
	box-shadow: 0 0 6px rgba($black, .5);
	padding: 36px;

	#LoginForm_LoginForm_Tab,
	ul,
	.form-tab h3 {
		display: none;
	}

	#MemberLoginForm_LoginForm_action_doLogin {
		@extend .button;
		@extend .button--blue-light;
	}
}

/*------------------------------------
	Background
------------------------------------*/
.login__background {
	display: none;
}

@include respond(576px) {
	.login__background {
		align-items: end;
		display: flex;
		inset: 0;
		justify-content: flex-start;
		padding-top: 100px;
		position: absolute;
	}
}

/*------------------------------------
	Left
------------------------------------*/
.login__left {
	transform: scaleX(-1);

	svg {
		color: $orange;
		display: block;
		height: 100%;
		inset: -24px 0 auto auto;
		position: absolute;
	}
}

@include respond(768px) {
	.login__left {
		svg {
			aspect-ratio: 742/712;
			height: 734px;
		}
	}
}

/*------------------------------------
	Image
------------------------------------*/
.login__image {
	aspect-ratio: 596/710;
	clip-path: url(#intro-block-clip-path);

	img {
		height: 100%;
		object-fit: cover;
		transform: scaleX(-1);
		width: 100%;
	}
}

@include respond(768px) {
	.login__image {
		height: 710px;
	}
}

/*------------------------------------
	Bottom title
------------------------------------*/
.login__bottom-title {
	color: $blue-light;
	letter-spacing: .1em;
	margin-bottom: 1.5em;
	@include fluid-font-size((1.8rem, 320px), (2.4rem, 960px));
	text-align: center;
	text-transform: uppercase;
}

/*------------------------------------
	Feature boxes
------------------------------------*/
.login__feature-boxes {
	display: grid;
	gap: 36px;
}

@include respond(768px) {
	.login__feature-boxes {
		grid-template-columns: repeat(3, 1fr);
	}
}

/*------------------------------------
	Feature box image
------------------------------------*/
.login__feature-box-image {
	border-radius: 50%;
	margin: 0 auto 16px;
	max-width: 352px;
	overflow: hidden;
}

/*------------------------------------
	Feature box title
------------------------------------*/
.login__feature-box-title {
	margin-bottom: 8px;
	@include fluid-font-size((2.4rem, 320px), (3.8rem, 960px));
	text-align: center;
}

/*------------------------------------
	Feature box content
------------------------------------*/
.login__feature-box-content {
	@include fluid-font-size((1.6rem, 320px), (1.8rem, 960px));
	text-align: center;
}

/*------------------------------------
	Bottom content
------------------------------------*/
.login__bottom-content {
	border: 2px solid $blue-light;
	border-left: none;
	@include fluid-font-size((1.8rem, 320px), (2.4rem, 960px));
	border-right: none;
	font-weight: 700;
	margin: 2em 0 6em;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;
}

/*------------------------------------
	Ball
------------------------------------*/
.login__ball .ball {
	bottom: 0;
	height: 100vw;
	max-height: 600px;
	max-width: 600px;
	position: absolute;
	right: 0;
	transform: translate(50%, 70%);
	width: 100vw;
}
