/* Layout: _nav.scss
---------------------------------------------------------------------------------- */
@include respond(991px, max) {
	.nav {
		background-color: $white;
		height: 100vh;
		left: 0;
		opacity: 0;
		overflow-y: auto;
		padding: 105px 20px 20px;
		position: fixed;
		top: -100vh;
		transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
		width: 100vw;
		will-change: top;
		z-index: -1;

		.menu-active & {
			opacity: 1;
			top: 0;
		}
	}
}

/*------------------------------------
	Menu
------------------------------------*/
@include respond(992px) {
	.nav__menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 10px 36px;
	}
}

/*------------------------------------
	Item
------------------------------------*/
.nav__item {
	position: relative;
}

@include respond(991px, max) {
	.nav__item {
		margin: 16px 0;

		&:first-of-type {
			margin: 0 0 16px;
		}
	}
}

/*------------------------------------
	Current item
------------------------------------*/
.nav__item--current {
	border-bottom: 2px solid $blue;
}

/*------------------------------------
	Link
------------------------------------*/
.nav__link {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	color: $black-alt;
	text-decoration: none;
}


/*------------------------------------
	Sub menu
------------------------------------*/
.nav__submenu {
	display: none;
	width: 100vw;
	margin: 16px -20px 0;
	padding: 1em 20px;
	border: 1px solid $black-alt;
	background-color: $white;
	color: $black-alt;
	text-align: left;
	transition: 400ms ease-in-out;
	z-index: 10;

	.nav__item:hover &,
	.nav__item--hover & {
		display: block;
	}

	.nav__item:focus-within &,
	.nav__link:focus-visible ~ & {
		display: block;
	}

	li:not(:last-child) {
		margin-bottom: 1em;
	}
}

@include respond(992px) {
	.nav__submenu {
		color: inherit;
		display: block;
		left: 50%;
		margin: 0;
		opacity: 0;
		padding: 1.5em 12px 12px 12px;
		position: absolute;
		top: calc(120% + 18px);
		transform: translateX(-50%);
		transition: 300ms ease-in-out;
		visibility: hidden;
		width: 223px;

		.nav__item:hover &,
		.nav__item--hover & {
			opacity: 1;
			top: calc(100% + 4px);
			visibility: visible;
		}

		.nav__item:focus-within &,
		.nav__link:focus-visible ~ & {
			opacity: 1;
			top: calc(100% + 4px);
			visibility: visible;
		}

		.nav__item:last-child & {
			left: auto;
			right: 0;
			transform: none;
		}

		li:not(:last-child) {
			margin-bottom: 1.5em;
			border-bottom: 1px solid rgba($grey, 1);
			padding-bottom: 1.5em;
		}
	}
}

@include respond(1237px) {
	.nav__submenu {
		.nav__item:last-child & {
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
}

/*------------------------------------
	Sub link
------------------------------------*/
a.nav__sublink {
	display: block;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 300;
	color: $black-alt;
	text-decoration: none;

	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover,
	&:active {
		text-decoration: underline;
	}
}

@include respond(992px) {
	a.nav__sublink {
		text-align: center;
	}
}
