/* Layout: blogpost
---------------------------------------------------------------------------------- */
.pagination {
	text-align: center;
	margin-bottom: 40px;
}

@include respond(768px) {
	.pagination {
		margin-bottom: 86px;
	}
}
