/* Layout: pagination
---------------------------------------------------------------------------------- */
.pagination {
	text-align: center;
	margin-bottom: 40px;
}

@include respond(768px) {
	.pagination {
		margin-bottom: 86px;
	}
}

/*------------------------------------
	Link
------------------------------------*/
.pagination__link {
	display: inline-block;
	margin: 0 6px;
	width: 30px;
	height: 30px;
	padding-top: 4px;
	border-radius: 50%;
	background-color: $blue-light;
	color: $white;
	font-size: 1.4rem;
	text-decoration: none;
	transition: background-color 300ms ease;

	&:hover {
		background-color: darken($blue-light, 10);
	}
}

@include respond(768px) {
	.pagination__link {
		width: 50px;
		height: 50px;
		margin: 0 12px;
		padding-top: 11px;
		font-size: 1.8rem;
	}
}

/*------------------------------------
	Current link
------------------------------------*/
.pagination__link--current {
	border: 1px solid $blue-light;
	font-weight: 700;
	background-color: $white;
	color: $black-alt;

	&:hover {
		background-color: darken($white, 10);
	}
}

/*------------------------------------
	Inactive link
------------------------------------*/
.pagination__link--inactive {
	pointer-events: none;
}

/*------------------------------------
	Prev/next links
------------------------------------*/
.pagination__link.pagination__link--prev,
.pagination__link.pagination__link--next {
	position: relative;
	top: -2px;
	padding-top: 0;
	background-color: transparent;
	transition: color 300ms ease;
	color: $blue-light;

	&:hover {
		color: darken($blue-light, 10);

		svg {
			color: darken($blue-light, 10);
		}
	}

	svg {
		max-width: 30px;
		color: $blue-light;
	}
}

@include respond(768px) {
	.pagination__link.pagination__link--prev,
	.pagination__link.pagination__link--next {
		top: -4px;

		svg {
			max-width: none;
		}
	}
}

.pagination__link--prev {

	svg {
		transform: rotate(180deg);
	}
}
