/* Layout: _element-features.scss
---------------------------------------------------------------------------------- */
.element-features {
	margin-bottom: 40px;

	&--blue {
		background-color: $blue-dark;
		color: $white;
	}

	&--orange {
		background-color: $orange;
		color: $white;
	}

	&--yellow {
		background-color: $yellow;
	}
	//
	//&--orange {
	//	background-color: $orange;
	//}
}

@include respond(768px) {
	.element-features {
		margin-bottom: 99px;
	}
}

/*------------------------------------
	Row
------------------------------------*/
.element-features__row {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
	justify-content: center;
	padding: 82px 0;
	text-align: center;
}

@include respond(768px) {
	.element-features__row {
		justify-content: space-between;
	}
}

/*------------------------------------
	Feature
------------------------------------*/
.element-features__feature {
	width: 148px;
}

/*------------------------------------
	Feature icon
------------------------------------*/
.element-features__feature-icon {
	align-items: center;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	color: $black-alt;

	.element-features--blue & {
		color: $blue-light;
	}
}

/*------------------------------------
	Feature title
------------------------------------*/
.element-features__feature-title {
	@include fluid-font-size((1.8rem, 320px), (2rem, 992px));
	font-size: 1.8rem;
	font-weight: 500;
	margin: 1em 0 0;
}
