/* Element: video
---------------------------------------------------------------------------------- */

/*------------------------------------
	Video
------------------------------------*/
.element-video__video {
	position: relative;
	width: 100%;

	div {
		width: 100% !important;
	}

	.responsive-video {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 65%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
