/* Element: slideshow
---------------------------------------------------------------------------------- */
.element-slideshow {
	position: relative;
	margin-bottom: 40px;
}

@include respond(768px) {
	.element-slideshow {
		margin-bottom: 86px;
	}
}

/*------------------------------------
	File
------------------------------------*/
.element-slideshow__slide--file {
	margin: 60px auto 0;
	text-align: center;
}

@include respond(768px) {
	.element-slideshow__slide--file {
		margin: 96px auto 0;
	}
}

/*------------------------------------
	Slide
------------------------------------*/
.element-slideshow__slide {
	img {
		width: 100%;
	}
}

/*------------------------------------
	Arrows
------------------------------------*/
.element-slideshow .splide__arrow {
	top: 30%;
	padding: 0;
	opacity: 1;
	background: transparent;

	svg {
		height: 30px;
		width: 30px;
		color: $blue-dark;
	}
}

@include respond(768px) {
	.element-slideshow .splide__arrow {
		top: 40%;
	}
}

@include respond(1280px) {
	.element-slideshow .splide__arrow {
		height: 50px;
		width: 50px;

		svg {
			height: 50px;
			width: 50px;
		}
	}
}

.element-slideshow .splide__arrow.splide__arrow--prev {
	left: -35px;
}

@include respond(1280px) {
	.element-slideshow .splide__arrow.splide__arrow--prev {
		left: -70px;
	}
}

.element-slideshow .splide__arrow.splide__arrow--next {
	right: -35px;
}

@include respond(1280px) {
	.element-slideshow .splide__arrow.splide__arrow--next {
		right: -70px;
	}
}

/*------------------------------------
	Pagination
------------------------------------*/
.element-slideshow .splide__pagination {
	bottom: 80px;
}

@include respond(768px) {
	.element-slideshow .splide__pagination {
		bottom: 100px;
	}
}

.element-slideshow .splide__pagination__page {
	width: 12px;
	height: 12px;
	margin: 0 4px;
	padding: 0;
	opacity: 1;
	background-color: rgba($blue-dark, .4);
	transform: none;

	&.is-active {
		background-color: $blue-dark;
	}
}

@include respond(768px) {
	.element-slideshow .splide__pagination__page {
		width: 24px;
		height: 24px;
		margin: 0 11px;
	}
}
