/* Layout: _element-testimonial.scss
---------------------------------------------------------------------------------- */
.element-testimonial {
	margin-top: 40px;
	padding: 51px 0 140px;
	text-align: center;
	position: relative;
	overflow: hidden;

	&--pink {
		background-color: $pink-dark;
		color: $white;
	}

	&--red {
		background-color: $red;
		color: $white;
	}

	&--yellow {
		background-color: $gold;
		color: $white;
	}

	&--blue {
		background-color: $blue-dark;
		color: $white;
	}

	&--orange {
		background-color: $orange;
		color: $white;
	}
}

@include respond(768px) {
	.element-testimonial {
		margin-top: 120px;
		padding: 94px 0 200px;
	}
}

@include respond(1200px) {
	.element-testimonial {
		padding: 94px 0;
	}
}

.element-testimonial__open-quote {
	font-size: 68px;
	font-weight: 700;
	line-height: 1.66;
	pointer-events: none;
	margin-bottom: -40px;

	.element-testimonial--pink & {
		color: $pink;
	}

	.element-testimonial--red & {
		color: $brown;
	}

	.element-testimonial--yellow & {
		color: $yellow;
	}

	.element-testimonial--orange & {
		color: $brown;
	}

	.element-testimonial--blue & {
		color: $blue-light;
	}
}

@include respond(768px) {
	.element-testimonial__open-quote {
		margin-bottom: 0;
	}
}

.element-testimonial__quote {
	text-align: left;

	> p {
		@include fluid-font-size((1.8rem, 320px), (2.2rem, 992px));
		font-weight: 700;
		margin-bottom: 1em;
	}

	footer {
		@include fluid-font-size((1.5rem, 320px), (1.8rem, 992px));
		line-height: 1.5;
		font-weight: 300;
	}
}

.button {
	.element-testimonial & {
		margin-top: 48px;
	}

	.element-testimonial--pink & {
		@extend .button--pink;
	}

	.element-testimonial--orange & {
		@extend .button--orange;
	}

	.element-testimonial--blue & {
		@extend .button--blue-light;
	}

	.element-testimonial--red & {
		@extend .button--red;
	}

	.element-testimonial--yellow & {
		@extend .button--yellow;
	}
}

.element-testimonial__ball {
	&--left {
		display: none;
	}

	&--right {
		svg {
			right: -125px;
		}
	}

	svg {
		width: 250px;
		height: 250px;
		position: absolute;
		bottom: -125px;
		z-index: 2;
	}
}

@include respond(768px) {
	.element-testimonial__ball {
		&--left {
			display: block;

			svg {
				left: -180px;
			}
		}

		&--right {
			svg {
				right: -180px;
			}
		}

		svg {
			width: 360px;
			height: 360px;
			bottom: -180px;
		}
	}
}
