/* Layout: _element-content.scss
---------------------------------------------------------------------------------- */
.element-content {
	padding: 0 0 60px;
	overflow: hidden;
}

@include respond(768px) {
	.element-content {
		padding: 40px 0 80px;
	}
}

.element-content.bg--grey {
	padding-top: 60px;
}

@include respond(768px) {
	.element-content.bg--grey {
		padding-top: 80px;
	}
}
