/* Layout: three column text
---------------------------------------------------------------------------------- */
.element-three-column-text {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	&--pink {
		background-color: $pink-dark;
		color: $white;
	}

	&--red {
		background-color: $red;
		color: $white;

		.element-three-column-text__column-content {
			color: $white;
		}
	}

	&--yellow {
		background-color: $gold;
		color: $white;
	}

	&--blue {
		background-color: $blue-dark;
		color: $white;

		.element-three-column-text__column-content {
			color: $white;
		}
	}

	&--orange {
		background-color: $orange;
		color: $white;
	}
}

@include respond(576px) {
	.element-three-column-text {
		padding-top: 76px;
		padding-bottom: 102px;
	}
}

/*------------------------------------
	Title
------------------------------------*/
.element-three-column-text__title {
	margin-bottom: 30px;
	font-size: 3.2rem;
}

@include respond(576px) {
	.element-three-column-text__title {
		margin-bottom: 56px;
		font-size: 4.4rem;
	}
}

/*------------------------------------
	Columns
------------------------------------*/
.element-three-column-text__columns {

}

@include respond(576px) {
	.element-three-column-text__columns {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}

@include respond(768px) {
	.element-three-column-text__columns {
		gap: 48px;
	}
}


/*------------------------------------
	Column
------------------------------------*/
.element-three-column-text__column {
	width: 100%;
}

@include respond(576px) {
	.element-three-column-text__column {
		width: calc(50% - 20px);
	}
}

@include respond(768px) {
	.element-three-column-text__column {
		width: calc(33% - 48px);
	}
}

/*------------------------------------
	Column title
------------------------------------*/
.element-three-column-text__column-title {
	margin-bottom: 15px;
	font-size: 2.2rem;

	.element-three-column-text--blue & {
		color: $blue-light;
	}
}

@include respond(768px) {
	.element-three-column-text__column-title {
		margin-bottom: 20px;
		font-size: 3.2rem;
	}
}

/*------------------------------------
	Column content
------------------------------------*/
.element-three-column-text__column-content {
	margin-bottom: 30px;
}

@include respond(768px) {
	.element-three-column-text__column-content {
		margin-bottom: 0;
	}
}
