/* Layout: _element-latest-posts.scss
---------------------------------------------------------------------------------- */
.element-latest-posts {
	padding: 60px 0;
}

@include respond(768px) {
	.element-latest-posts {
		padding: 80px 0;
	}
}

.element-latest-posts__grid {
	display: grid;
	gap: 36px 24px;
	margin-bottom: 40px;
}

@include respond(767px, max) {
	.element-latest-posts__grid {
		li:not(:first-child) {
			display: none;
		}
	}
}

@include respond(768px) {
	.element-latest-posts__grid {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 68px;
	}
}

@include respond(992px) {
	.element-latest-posts__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
