/* Element: _element-two-column-curve.scss
---------------------------------------------------------------------------------- */
.element-two-column-curve {
	padding: 60px 0 42px;
	position: relative;
	overflow: hidden;
}

@include respond(768px) {
	.element-two-column-curve {
		padding: 72px 0 80px;
		margin-top: 36px;
	}
}

/*------------------------------------
	Background shape
------------------------------------*/
.element-two-column-curve__background-shape {
	color: $yellow;
	position: absolute;
	top: 0;
	left: -812px;
	z-index: -1;

	.element-two-column-curve--blue & {
		color: $blue-light;
	}
}

@include respond(767px, max) {
	.element-two-column-curve__background-shape {
		width: 701px;
		height: 930px;
		top: -24px;
		left: -442px;
	}
}

@include respond(768px) {
	.element-two-column-curve__background-shape {
		.element-two-column-curve--blue & {
			width: 1813px;
			height: 2404px;
			left: -937px;
		}
	}
}

/*------------------------------------
	Ball
------------------------------------*/
.ball {
	.element-two-column-curve & {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
		z-index: -1;
		width: 315px;
		height: 315px;
	}
}

@include respond(768px) {
	.ball {
		.element-two-column-curve & {
			width: 385px;
			height: 385px;
			transform: translate(50%, 35%);
		}
	}
}

/*------------------------------------
	Before
------------------------------------*/
.element-two-column-curve__before {
	margin-bottom: 50px;
}

@include respond(768px) {
	.element-two-column-curve__before {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		margin-bottom: 59px;
	}
}

@include respond(900px) {
	.element-two-column-curve__before {
		gap: 120px;
	}
}
