/* Layout: _element-intro-block.scss
---------------------------------------------------------------------------------- */
.element-intro-block {
	overflow: hidden;
	position: relative;

	&--pink {
		background-color: $pink-dark;

		.typography {
			color: $white;
		}
	}

	&--red {
		background-color: $red;

		.typography {
			color: $white;
		}
	}

	&--yellow {
		background-color: $yellow;

		.typography {
			color: $mine-shaft;
		}
	}

	&--blue {
		background-color: $blue-dark;

		.typography {
			color: $white;
		}
	}

	&--orange {
		background-color: $orange;

		.typography {
			color: $white;
		}
	}
}

@include respond(768px) {
	.element-intro-block {
		margin-bottom: 80px;
	}
}

.element-intro-block__column {
	padding-top: 38px;
}

@include respond(768px) {
	.element-intro-block__column {
		padding-bottom: 114px;
		width: calc(50% - 24px);
	}
}

.element-intro-block__right {
	position: relative;

	svg {
		aspect-ratio: 282/211;
		color: $orange;
		display: block;
		height: 100%;
		inset: 0 0 auto auto;
		position: absolute;
		width: 70%;

		.element-intro-block--pink & {
			color: $pink;
		}

		.element-intro-block--red & {
			color: $brown;
		}

		.element-intro-block--yellow & {
			color: $gold;
		}

		.element-intro-block--blue & {
			color: $blue;
		}

	}
}

@include respond(768px) {
	.element-intro-block__right {
		position: static;

		svg {
			aspect-ratio: 472/464;
			width: 30%;
			height: 85%;
			inset: auto 0 0 auto;
		}
	}
}

.element-intro-block__image {
	clip-path: url(#intro-block-clip-path);
	margin: 0 0 0 auto;
	aspect-ratio: 242/206;
	width: 60%;

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

@include respond(768px) {
	.element-intro-block__image {
		height: 85%;
		inset: auto 0 0 auto;
		position: absolute;
		width: calc(30% - 120px);
	}
}
