/* Element: _element-feature-boxes.scss
---------------------------------------------------------------------------------- */
.element-feature-boxes {
	padding: 60px 0 42px;
	position: relative;
	overflow: hidden;
}

@include respond(768px) {
	.element-feature-boxes {
		padding: 72px 0 80px;
		margin-top: 36px;
	}
}

/*------------------------------------
	Background shape
------------------------------------*/
.element-feature-boxes__background-shape {
	color: $yellow;
	position: absolute;
	top: 0;
	left: -812px;
	z-index: -1;

	.element-feature-boxes--blue & {
		color: $blue-light;
	}
}

@include respond(767px, max) {
	.element-feature-boxes__background-shape {
		width: 701px;
		height: 930px;
		top: -24px;
		left: -442px;
	}
}

@include respond(768px) {
	.element-feature-boxes__background-shape {
		.element-feature-boxes--blue & {
			width: 1813px;
			height: 2404px;
			left: -937px;
		}
	}
}

/*------------------------------------
	Ball
------------------------------------*/
.ball {
	.element-feature-boxes & {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
		z-index: -1;
		width: 315px;
		height: 315px;
	}
}

@include respond(768px) {
	.ball {
		.element-feature-boxes & {
			width: 385px;
			height: 385px;
			transform: translate(50%, 35%);
		}
	}
}

/*------------------------------------
	Before
------------------------------------*/
.element-feature-boxes__before {
	margin-bottom: 50px;
}

@include respond(768px) {
	.element-feature-boxes__before {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		margin-bottom: 59px;
	}
}

/*------------------------------------
	Grid
------------------------------------*/
.element-feature-boxes__grid {
	display: grid;
	gap: 42px 14px;
	grid-template-columns: repeat(2, 1fr);
}

@include respond(768px) {
	.element-feature-boxes__grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 42px 20px;
	}
}

@include respond(992px) {
	.element-feature-boxes__grid {
		&--four {
			grid-template-columns: repeat(4, 1fr);
		}

		&--five {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}

/*------------------------------------
	Card
------------------------------------*/
.element-feature-boxes__card {
	height: 100%;
	position: relative;
}

/*------------------------------------
	Card image
------------------------------------*/
.element-feature-boxes__card-image {
	border-radius: 0 0 50px 0;
	overflow: hidden;
}

/*------------------------------------
	Card content
------------------------------------*/
.element-feature-boxes__card-content {
	margin: 20px 0;

	h3 {
		font-size: 1.6rem;
	}

	a {
		display: flex;
		justify-content: space-between;
		gap: 24px;

		&:link,
		&:visited {
			text-decoration: none;
		}

		&:before {
			content: '';
			position: absolute;
			inset: 0;
		}

		&:active,
		&:hover {
			svg {
				transform: translateX(3px);
			}
		}

		svg {
			color: $blue-dark;
			transition: 300ms ease-in-out transform;
		}
	}
}

@include respond(768px) {
	.element-feature-boxes__card-content {
		text-align: center;

		a {
			display: flex;
			justify-content: center;
		}
	}
}
