/* Layout: _ball.scss
---------------------------------------------------------------------------------- */
$front: (
	'pink': #D32E7B,
	'yellow': #FFDA01,
	'orange': #E38A32,
	'blue': #61A6B6,
	'red': #7A2325,
);

$back: (
	'pink': #7E1553,
	'yellow': #635727,
	'orange': #7B3A35,
	'blue': #112E32,
	'red': #7E1553,
);

.ball {
	position: absolute;
}

.ball__front {
	@each $color, $hex in $front {
		.ball--#{$color} & {
			fill: $hex;
		}
	}
}

.ball__back {
	@each $color, $hex in $back {
		.ball--#{$color} & {
			fill: $hex;
		}
	}
}
