/* Component: breadcrumbs
---------------------------------------------------------------------------------- */
.breadcrumbs {
	@include fluid-font-size((1.2rem, 320px), (1.6rem, 992px));
	padding: 38px 0;
	color: $blue-dark;

	.bg--blue-dark & {
		color: $white;
	}
}

/*------------------------------------
	List wrapper
------------------------------------*/
.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.33em 0.66em;
}

/*------------------------------------
	Item
------------------------------------*/
.breadcrumbs__item {
	position: relative;

	&:not(:first-child) {
		padding-left: 1em;

		&:before {
			position: absolute;
			top: 0; bottom: 0;
			left: -0.15em;
			display: block;
			margin: auto 0;
			color: currentColor;
			content: '>';
		}
	}
}

/*------------------------------------
	Link
------------------------------------*/
.breadcrumbs__link {
	color: inherit;

	&:link,
	&:visited {
		text-decoration: underline;
	}

	&:active,
	&:hover {
		text-decoration: none;
	}
}
