/* Component: container
---------------------------------------------------------------------------------- */
.container {
	margin: 0 auto;
	max-width: $container-width;
	padding: 0 $container-padding;

	&--narrow {
		max-width: 843px;
	}
}
