/* Layout: Fluent (translate)
---------------------------------------------------------------------------------- */
/*------------------------------------
	Outer
------------------------------------*/
.fluent__outer {
	display: flex;
	justify-content: flex-end;
}

@include respond(992px) {
	.fluent__outer {
		margin-bottom: 20px;
	}
}

/*------------------------------------
	Inner
------------------------------------*/
.fluent__inner {
	position: relative;
	text-transform: uppercase;
}

@include respond(992px) {
	.fluent__inner {
		padding: 0 30px 0 15px;
	}
}

/*------------------------------------
	Button
------------------------------------*/
.fluent__button {
	align-items: center;
	border: none;
	border-bottom: 1px solid $blue;
	cursor: pointer;
	display: flex;
	font-size: 1.4rem;
	position: relative;
	z-index: 10;

	svg {
		margin-left: 6px;
	}
}

@include respond(992px) {
	.fluent__button {
		svg {
			margin-left: 10px;
		}
	}
}

/*------------------------------------
	List
------------------------------------*/
ul.fluent__list {
	background-color: $white;
	border: 1px solid $blue;
	color: $blue-dark;
	font-size: 1.4rem;
	left: 50%;
	max-width: calc(100vw - 40px);
	min-width: max-content;
	opacity: 1;
	position: absolute;
	text-align: center;
	top: 95%;
	transform: translateX(-50%);
	transition: all 300ms ease;
	visibility: visible;
	width: 100%;
	z-index: 200;

	li {
		padding: .5em 9px;

		&:first-child {
			margin-top: .5em;
		}

		&:last-child {
			margin-bottom: .5em;
		}

		&:hover {
			background-color: rgba($blue, .15);
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

@include respond(992px) {
	ul.fluent__list {
		min-width: 220px;
		text-align: left;

		li {
			padding: .5em 32px .5em 18px;
		}
	}
}

ul.fluent__list--hidden{
	max-height: 0;
	opacity: 0;
	transition: none;
	visibility: hidden;
}

/*------------------------------------
	Option
------------------------------------*/
.fluent__option {
	align-items: center;
	display: flex;
}

/*------------------------------------
	Title
------------------------------------*/
.fluent__title {
	display: none;
}

@include respond(992px) {
	.fluent__title {
		display: block;
	}
}

/*------------------------------------
	Image
------------------------------------*/
.fluent__image {
	border-radius: 50%;
	height: 14px;
	margin-right: 10px;
	overflow: hidden;
	width: 14px;
	transform: translateY(-1px);

	img {
		display: block;
	}
}
