/* Component: form
---------------------------------------------------------------------------------- */

/*------------------------------------
	Field group
------------------------------------*/
.form__field-group {
	margin-top: 24px;

	&:first-child {
		margin-top: 0;
	}
}

/*------------------------------------
	Two column
------------------------------------*/
@include respond(768px) {
	.form__two-column {
		display: grid;
		gap: 0 24px;
		grid-template-columns: 1fr 1fr;

		.form__field-group:nth-child(-n+ 2) {
			margin-top: 0;
		}
	}
}

/*------------------------------------
	Actions container
------------------------------------*/
.form__actions {
	margin-top: 24px;
}

/*------------------------------------
	Field label
------------------------------------*/
.form__field-label {
	color: $black;
	display: block;
	font-weight: bold;
	line-height: 1.3;
	@include fluid-font-size((1.5rem, 320px), (1.8rem, 992px));
	margin-bottom: 0.25em;

	em {
		color: $form-bad;
		font-style: normal;
		font-weight: bold;
	}

	.form__shrinky-label & {
		background-color: $white;
		font-size: 10px;
		left: 19px;
		opacity: 0;
		padding: 3px;
		position: absolute;
		top: 0;
		transform: translateY(-50%);
	}

	.form__field-holder > & {
		margin-bottom: 13px;

	}
}

/*------------------------------------
	Field description
------------------------------------*/
.form__field-description {
	color: $form-description;
	line-height: 1.3;
	@include fluid-font-size((1.5rem, 320px), (1.8rem, 992px));
	margin-top: 0.25em;
}

/*------------------------------------
	Text fields
------------------------------------*/
.form__field {
	.form__shrinky-label & {
		position: relative;
	}

	input.text,
	textarea.textarea {
		appearance: none;
		background: transparent;
		border: solid 1px $black;
		border-radius: 0;
		color: $black;
		display: block;
		font-family: inherit;
		font-weight: normal;
		letter-spacing: inherit;
		@include fluid-font-size((1.5rem, 320px), (1.8rem, 992px));
		line-height: 1.3;
		margin: 0;
		min-height: 3.1em;
		padding: 0.5em 20px;
		width: 100%;

		&:focus {
			box-shadow: 0 0 0 3px $form-focus;
			outline: 3px solid transparent;
			outline-offset: 0;
		}

		&::placeholder {
			opacity: 1;
			font-weight: 300;
		}

		.form__shrinky-label & {
			&:placeholder-shown + label {
				visibility: hidden;
				z-index: -1;
			}

			&:not(:placeholder-shown) + label,
			&:focus:not(:placeholder-shown) + label {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
		}
	}
}

/*------------------------------------
	Dropdown field
------------------------------------*/
.form__field {
	select.dropdown {
		appearance: none;
		background: transparent;
		border: solid 1px $black;
		border-radius: 0;
		color: $black;
		display: block;
		font-family: inherit;
		font-weight: normal;
		letter-spacing: inherit;
		@include fluid-font-size((1.5rem, 320px), (1.8rem, 992px));
		line-height: 1.3;
		margin: 0;
		padding: 0.5em calc(1.4em + 1.1ex) 0.5em 0.7em;
		width: 100%;

		&::-ms-expand {
			display: none;
		}

		&[disabled] {
			opacity: 0.75;
		}

		&:focus {
			box-shadow: 0 0 0 3px $form-focus;
			outline: 3px solid transparent;
			outline-offset: 0;
		}
	}

	.dropdown & {
		font-size: 1.6rem;
		position: relative;

		&:before,
		&:after {
			background: $black;
			content: '';
			height: 1px;
			pointer-events: none;
			position: absolute;
			right: 1em;
			top: 50%;
			width: 1ex;
		}

		&:before {
			transform: translateY(0.25ex) rotate(45deg);
			transform-origin: 100% 100%;
		}

		&:after {
			transform: translateY(0.25ex) translateX(100%) rotate(-45deg);
			transform-origin: 0 0;
		}
	}
}

/*------------------------------------
	Optionsets
------------------------------------*/
.form__field {
	.optionset & {
		> div {
			align-items: flex-start;
			display: flex;
			margin-top: 0.8rem;
			min-height: 2rem;
			position: relative;

			&:first-child {
				margin-top: 0;
			}

			label {
				display: block;
				flex: 1 1 auto;
				font-size: 1.8rem;
				line-height: 1.3;
				padding: 0.1rem 0 0 1em;
				font-weight: 300;

				&:before {
					border: solid 2px $black;
					border-radius: 100%;
					box-sizing: border-box;
					content: '';
					height: 3rem;
					left: 0;
					position: absolute;
					top: 0;
					width: 3rem;
				}

				&:after {
					border: solid 0.5rem $black;
					border-radius: 0.5rem;
					content: '';
					display: block;
					height: 0;
					left: 0.6rem;
					opacity: 0;
					position: absolute;
					top: 0.6rem;
					width: 0;
				}
			}

			&.disabled {
				label {
					opacity: 0.5;
				}
			}
		}

		input {
			cursor: pointer;
			display: block;
			flex: 0 0 auto;
			height: 3rem;
			left: 0;
			margin: 0;
			opacity: 0;
			position: relative;
			top: 0;
			width: 3rem;
			z-index: 2;

			&:focus {
				~ label {
					&:before {
						box-shadow: 0 0 0 3px $form-focus;
					}
				}
			}

			&:checked {
				~ label {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

/*------------------------------------
	Checkboxsets
------------------------------------*/
.form__field {
	.checkboxset & {
		> div {
			label {
				&:before,
				&:after {
					border-radius: 0;
				}

				&:after {
					background: transparent;
					border-color: $black;
					border-top-color: transparent;
					border-width: 0 0 0.3rem 0.3rem;
					color: $black;
					height: 0.8rem;
					left: 0.7rem;
					top: 0.8rem;
					transform: rotate(-45deg);
					width: 1.6rem;
				}
			}
		}
	}
}

/*------------------------------------
	Checkboxes
------------------------------------*/
.form__field {
	&.form-check {
		align-items: flex-start;
		display: flex;
		min-height: 2rem;
		position: relative;

		label {
			display: block;
			flex: 0 1 auto;
			font-size: 1.8rem;
			line-height: 1.3;
			padding: 0.1rem 0 0 1em;
			font-weight: 300;

			&:before {
				border: solid 2px $black;
				box-sizing: border-box;
				content: '';
				height: 3rem;
				left: 0;
				position: absolute;
				top: 0;
				width: 3rem;
			}

			&:after {
				background: transparent;
				border-color: $black;
				border-style: solid;
				border-top-color: transparent;
				border-width: 0 0 0.3rem 0.3rem;
				content: '';
				display: block;
				height: 0.8rem;
				left: 0.7rem;
				opacity: 0;
				position: absolute;
				top: 0.8rem;
				transform: rotate(-45deg);
				width: 1.6rem;
			}
		}

		input {
			cursor: pointer;
			display: block;
			flex: 0 0 auto;
			height: 3rem;
			left: 0;
			margin: 0;
			opacity: 0;
			position: relative;
			top: 0;
			width: 3rem;
			z-index: 2;

			&:focus {
				~ label {
					&:before {
						box-shadow: 0 0 0 3px $form-focus;
					}
				}
			}

			&:checked {
				~ label {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}
