/* Component: header wrapper
---------------------------------------------------------------------------------- */
.header-wrapper {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
	position: relative;

    @media screen and (min-height: 400px) {
        &--sticky,
        .menu-active & {
            filter: drop-shadow(0 4px 12px rgba($black, .17));
            position: sticky;
        }

        &--hidden {
            transform: translateY(calc(-100% - 70px));
        }

        .menu-active & {
            transform: none;
        }

        &.animate {
            transition: transform 0.15s ease-out;
        }
    }

    sticky-header {
        display: block;
        position: relative;
    }
}
