/* SCSS Variables
---------------------------------------------------------------------------------- */

$white: #FFFFFF;
$black: #000000;
$black-alt: #032F33;
$grey: #F2F4F4;

$form-description: #505A5F;
$form-good: #00703C;
$form-bad: #D4351C;
$form-warning: #FFDD00;
$form-info: #1D70B8;
$form-focus: #1D70B8;

$mine-shaft: #2D2D2D;
$blue-darker: #032F33;
$blue-dark: #215860;
$blue: #337B86;
$blue-light: #46A8B8;

$pink: #E6057C;
$pink-dark: #7E1553;
$orange: #F18501;
$yellow: #FEDA02;
$gold: #B79C00;
$green: #5ACB77;
$red: #C91517;
$brown: #853532;

$font-head: 'Ofelia Text', sans-serif;
$font-body: 'Ofelia Text', sans-serif;

$container-width: 1168px;
$container-padding: 20px;
